
packages/
/packages
bin/
obj/
*.dll
*.ide

packages/Microsoft.ApplicationInsights.2.0.0/lib/dotnet5.4/Microsoft.ApplicationInsights.dll
packages/EntityFramework.6.1.3/tools/migrate.exe
packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.dll
packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.Utility.dll
packages/EntityFramework.6.1.3/lib/net45/EntityFramework.dll
packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.dll
packages/EntityFramework.6.1.3/lib/net40/EntityFramework.dll
packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.dll
packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.pdb
packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.dll
FoodForLife/obj/Debug/FoodForLife.pdb
FoodForLife/obj/Debug/FoodForLife.dll
FoodForLife/obj/Debug/FoodForLife.csprojResolveAssemblyReference.cache
FoodForLife/obj/Debug/FoodForLife.csproj.CoreCompileInputs.cache
FoodForLife/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FoodForLife/bin/roslyn/vbc.exe
FoodForLife/bin/roslyn/csc.exe
FoodForLife/bin/roslyn/VBCSCompiler.exe
FoodForLife/bin/roslyn/System.Reflection.Metadata.dll
FoodForLife/bin/roslyn/System.Collections.Immutable.dll
FoodForLife/bin/roslyn/Microsoft.CodeAnalysis.dll
FoodForLife/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
FoodForLife/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
FoodForLife/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
FoodForLife/bin/WebGrease.dll
FoodForLife/bin/System.Web.WebPages.dll
FoodForLife/bin/System.Web.WebPages.Razor.dll
FoodForLife/bin/System.Web.WebPages.Deployment.dll
FoodForLife/bin/System.Web.Razor.dll
FoodForLife/bin/System.Web.Optimization.dll
FoodForLife/bin/System.Web.Mvc.dll
FoodForLife/bin/System.Web.Helpers.dll
FoodForLife/bin/Newtonsoft.Json.dll
FoodForLife/bin/Microsoft.Web.Infrastructure.dll
FoodForLife/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
FoodForLife/bin/Microsoft.AspNet.Identity.Owin.dll
FoodForLife/bin/Microsoft.AspNet.Identity.EntityFramework.dll
FoodForLife/bin/Microsoft.AspNet.Identity.Core.dll
FoodForLife/bin/Microsoft.ApplicationInsights.dll
FoodForLife/bin/Microsoft.AI.WindowsServer.dll
FoodForLife/bin/Microsoft.AI.Web.dll
FoodForLife/bin/Microsoft.AI.ServerTelemetryChannel.dll
FoodForLife/bin/Microsoft.AI.PerfCounterCollector.dll
FoodForLife/bin/Microsoft.AI.DependencyCollector.dll
FoodForLife/bin/Microsoft.AI.Agent.Intercept.dll
FoodForLife/bin/FoodForLife.pdb
FoodForLife/bin/FoodForLife.dll
FoodForLife/bin/FoodForLife.Data.pdb
FoodForLife/bin/FoodForLife.Data.dll
FoodForLife/bin/EntityFramework.dll
packages/WebGrease.1.5.2/tools/WG.exe
packages/WebGrease.1.5.2/lib/WebGrease.dll
packages/Owin.1.0/lib/net40/Owin.dll
packages/Newtonsoft.Json.6.0.4/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/portable-net40%2Bsl5%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.dll
packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
packages/Microsoft.Owin.Security.Twitter.3.0.1/lib/net45/Microsoft.Owin.Security.Twitter.dll
packages/Microsoft.Owin.Security.OAuth.3.0.1/lib/net45/Microsoft.Owin.Security.OAuth.dll
packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/lib/net45/Microsoft.Owin.Security.MicrosoftAccount.dll
packages/Microsoft.Owin.Security.Google.3.0.1/lib/net45/Microsoft.Owin.Security.Google.dll
packages/Microsoft.Owin.Security.Facebook.3.0.1/lib/net45/Microsoft.Owin.Security.Facebook.dll
packages/Microsoft.Owin.Security.Cookies.3.0.1/lib/net45/Microsoft.Owin.Security.Cookies.dll
packages/Microsoft.Owin.Security.3.0.1/lib/net45/Microsoft.Owin.Security.dll
packages/Microsoft.Owin.Host.SystemWeb.3.0.1/lib/net45/Microsoft.Owin.Host.SystemWeb.dll
packages/Microsoft.Owin.3.0.1/lib/net45/Microsoft.Owin.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/vbc.exe
packages/Microsoft.Net.Compilers.1.0.0/tools/csc.exe
packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe
packages/Microsoft.Net.Compilers.1.0.0/tools/System.Reflection.Metadata.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/System.Collections.Immutable.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.VisualBasic.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.CSharp.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.dll
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.dll
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.dll
packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.dll
packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/System.Web.Optimization.dll
packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.dll
packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/System.Web.Mvc.dll
packages/Microsoft.AspNet.Identity.Owin.2.2.1/lib/net45/Microsoft.AspNet.Identity.Owin.dll
packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1/lib/net45/Microsoft.AspNet.Identity.EntityFramework.dll
packages/Microsoft.AspNet.Identity.Core.2.2.1/lib/net45/Microsoft.AspNet.Identity.Core.dll
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/lib/net45/Microsoft.AI.ServerTelemetryChannel.dll
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.0.0/lib/net40/Microsoft.AI.ServerTelemetryChannel.dll
packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/lib/net45/Microsoft.AI.WindowsServer.dll
packages/Microsoft.ApplicationInsights.WindowsServer.2.0.0/lib/net40/Microsoft.AI.WindowsServer.dll
packages/Microsoft.ApplicationInsights.Web.2.0.0/lib/net45/Microsoft.AI.Web.dll
packages/Microsoft.ApplicationInsights.Web.2.0.0/lib/net40/Microsoft.AI.Web.dll
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/lib/net45/Microsoft.AI.PerfCounterCollector.dll
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.0.0/lib/net40/Microsoft.AI.PerfCounterCollector.dll
packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/lib/net45/Microsoft.AI.DependencyCollector.dll
packages/Microsoft.ApplicationInsights.DependencyCollector.2.0.0/lib/net40/Microsoft.AI.DependencyCollector.dll
packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1/lib/net45/Microsoft.AI.Agent.Intercept.dll
packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1/lib/net40/Microsoft.AI.Agent.Intercept.dll
packages/Microsoft.ApplicationInsights.2.0.0/lib/net46/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.0.0/lib/net45/Microsoft.ApplicationInsights.dll
packages/Microsoft.ApplicationInsights.2.0.0/lib/net40/Microsoft.ApplicationInsights.dll
FoodForLife/bin/EntityFramework.SqlServer.dll
FoodForLife/bin/Antlr3.Runtime.pdb
FoodForLife/bin/Antlr3.Runtime.dll
FoodForLife/FoodForLife.csproj.user
FoodForLife.Model/obj/Debug/FoodForLife.Model.pdb
FoodForLife.Model/obj/Debug/FoodForLife.Model.dll
FoodForLife.Model/obj/Debug/FoodForLife.Model.csprojResolveAssemblyReference.cache
FoodForLife.Model/obj/Debug/FoodForLife.Model.csproj.CoreCompileInputs.cache
FoodForLife.Model/bin/Debug/FoodForLife.Model.pdb
FoodForLife.Model/bin/Debug/FoodForLife.Model.dll
FoodForLife.Data/obj/Debug/FoodForLife.Data.pdb
FoodForLife.Data/obj/Debug/FoodForLife.Data.dll
FoodForLife.Data/obj/Debug/FoodForLife.Data.csprojResolveAssemblyReference.cache
FoodForLife.Data/obj/Debug/FoodForLife.Data.csproj.CoreCompileInputs.cache
FoodForLife.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FoodForLife.Data/bin/Debug/FoodForLife.Data.pdb
FoodForLife.Data/bin/Debug/FoodForLife.Data.dll
FoodForLife.Data/bin/Debug/EntityFramework.dll
FoodForLife.Data/bin/Debug/EntityFramework.SqlServer.dll
FoodForLife.Business/obj/Debug/FoodForLife.Business.pdb
FoodForLife.Business/obj/Debug/FoodForLife.Business.dll
FoodForLife.Business/obj/Debug/FoodForLife.Business.csprojResolveAssemblyReference.cache
FoodForLife.Business/obj/Debug/FoodForLife.Business.csproj.CoreCompileInputs.cache
FoodForLife.Business/bin/Debug/FoodForLife.Business.pdb
FoodForLife.Business/bin/Debug/FoodForLife.Business.dll
.vs/FoodForLife/v15/sqlite3/storage.ide-wal
.vs/FoodForLife/v15/sqlite3/storage.ide-shm
.vs/FoodForLife/v15/sqlite3/db.lock
.vs/FoodForLife/v15/Server/sqlite3/storage.ide-wal
.vs/FoodForLife/v15/Server/sqlite3/storage.ide-shm
.vs/FoodForLife/v15/Server/sqlite3/storage.ide
.vs/FoodForLife/v15/Server/sqlite3/db.lock
.vs/FoodForLife/v15/.suo
