@{
    ViewBag.Title = "Home Page";
}



<div class="top_header" id="home">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="nav_top_fx_w3layouts_agileits">
            <div class="navbar-header">


                <div class="logo_wthree_agile">
                    <h1>
                        <a class="navbar-brand" href="@Url.Action("Index","Home")">
                            <img src="~/Assets/images/ll.png" alt="Feed4Life Logo" />
                            <span class="desc">You donate.We feed.</span>
                        </a>
                    </h1>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="nav_right_top">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a class="scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="scroll" target="_blank" href='@Url.Action("Donor","Home")' style="color:blue;">Donor</a>
                        </li>
                        <li>
                            <a class="scroll" href="#services">Services</a>
                        </li>
                        <li>
                            <a class="scroll" href="#gallery">Gallery</a>
                        </li>
                        <li>
                            <a class="scroll" href="#contact">Contact</a>
                        </li>

                    </ul>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="clearfix"></div>
</div>
<!-- banner -->
<div class="banner_top">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Change Begins With You.</h3>

                        <div class="bnr-button">
                            <a class="act" href="#about">Read More</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="item item2">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Make good things happen</h3>

                        <div class="bnr-button">
                            <a class="act" href="#about">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item3">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Change Begins With You.</h3>

                        <div class="bnr-button">
                            <a class="act" href="#about">Read More</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="item item4">
                <div class="container">
                    <div class="carousel-caption">

                        <h3>Make good things happen</h3>

                        <div class="bnr-button">
                            <a class="act" href="#about">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="fa fa-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!-- The Modal -->
    </div>
</div>
<!--//banner -->
<div class="banner_bottom donate-log">
    <div class="donate-inner">

        <div class="col-md-4 donate-f-login">
            <div class="donate-log-in book-form">
                <h5>Login Now</h5>
                <form class="frm-login" action="#" method="post">
                    <input type="email" name="Email" class="email" id="adminEmailAddress" placeholder="Email" required="" />
                    <input type="password" name="Password" class="password" id="adminPassword" placeholder="Password" required="" />
                    <div class="check-box two">
                        <input name="chekbox" type="checkbox" id="brand1" value="">
                    </div>
                    <p id="lblmessage" style="color:red;"></p>
                    <input type="button" value="Submit" id="adminLogin">
                </form>
            </div>
        </div>
        <div class="col-md-8 donate-info">
            <h4>Leave us a Message</h4>
            <p>We know it takes the power of many to end people hunger for good. We connect donors, experts, partners, leaders and communities to attack the problem from all angles.</p>
            <p>Feed the People is thsriving in a new era, marked by Christian values, integrity, resourcefulness, stewardship and transparency.</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--/ab-->
<div class="banner_bottom" id="about">
    <div class="container">
        <h3 class="tittle_w3_agileinfo">About Us</h3>
        <div class="inner_sec_info_w3layouts">
            <div class="help_full">
                <ul class="rslides" id="slider4">
                    <li>
                        <div class="respon_info_img">
                            <img src="~/Assets/images/banner6.jpg" class="img-responsive" alt="Relief">
                        </div>
                        <div class="banner_bottom_left">
                            <h4>Feed For Hungry People</h4>

                            <p>
                                It takes the power of many to end an epidemic: donors who believe in the cause, experts to diagnose the problem and innovate solutions, organizations to pool their resources and expertise, and communities to work together for change!
                            </p>
                            <p>
                                We feed for their survival and we exists to end this epidemic in our country. It’s the cause upon which we were founded in 2018 and the one that we continue to fight for each and every day.
                            </p>
                            <div class="ab_button">
                                <a class="btn btn-primary btn-lg hvr-underline-from-left" href="single.html" role="button">Read More </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="respon_info_img">
                            <img src="~/Assets/images/banner2.jpg" class="img-responsive" alt="Relief">
                        </div>
                        <div class="banner_bottom_left">
                            <h4>Value every donor</h4>

                            <p>
                                We believe in donors playing an active role in ending hunger.
                            </p>
                            <p>
                                We believe in making changes when something isn’t working and building on the success when it is.
                            </p>
                            <div class="ab_button">
                                <a class="btn btn-primary btn-lg hvr-underline-from-left" href="single.html" role="button">Read More </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="respon_info_img">
                            <img src="~/Assets/images/banner1.jpg" class="img-responsive" alt="Relief">
                        </div>
                        <div class="banner_bottom_left">
                            <h4>Support to the most needy and last ones in the society chain</h4>
                            
                            <p>
                                We are here to support the ones who are left behind in the race of growth in the society and have not been able to gather minimum 2 times food even
                            </p>
                            <div class="ab_button">
                                <a class="btn btn-primary btn-lg hvr-underline-from-left" href="single.html" role="button">Read More </a>
                            </div>
                        </div>
                    </li>
    
                </ul>
            </div>
        </div>
    </div>
</div>
<!--//ab-->
<!--/what-->
<div class="works" id="services">
    <div class="container">
        <h3 class="tittle_w3_agileinfo cen">Why Choose Us</h3>
        <div class="inner_sec_info_w3layouts">
            <div class="ser-first">
                <div class="col-md-3 ser-first-grid text-center">
                    <div class="dodecagon">
                        <div class="dodecagon-in">
                            <div class="dodecagon-bg">
                                <span class="far fa-edit" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <h3>Food Delivering</h3>
                    <p>Help us delivering the leftover food from your parties/functions.</p>
                </div>
                <div class="col-md-3 ser-first-grid text-center">
                    <div class="dodecagon">
                        <div class="dodecagon-in">
                            <div class="dodecagon-bg">
                                <span class="far fa-paper-plane" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <h3>Volunteer</h3>
                    <p>Join us in the journey of making our nation "Hunger Free"</p>
                </div>
                <div class="col-md-3 ser-first-grid text-center">
                    <div class="dodecagon">
                        <div class="dodecagon-in">
                            <div class="dodecagon-bg">
                                <span class="far fa-star" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <h3>Donation</h3>
                    <p>Donate us in monetary term to strengthen and help us grow.</p>
                </div>
                <div class="col-md-3 ser-first-grid text-center">
                    <div class="dodecagon">
                        <div class="dodecagon-in">
                            <div class="dodecagon-bg">
                                <span class="far fa-user" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <h3>Sponsor</h3>
                    <p>Be a part of our board group to channelize your positive energy.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>
<!--//what-->
<!--/team-->
<div class="banner_bottom" id="team">
    <div class="container">
        <h3 class="tittle_w3_agileinfo">Charity Volunteers</h3>
        <div class="inner_sec_info_w3layouts">
            <div class="ser-first">
                <div class="col-md-3 photo-grid text-center">
                    <div class="dodecagon t1">
                        <div class="dodecagon-in t1">
                            <div class="dodecagon-bg t1">

                            </div>
                        </div>
                    </div>
                    <h3>Jessica Gupta</h3>
                    <p>Volunteer</p>
                    <div class="team_icons">
                        <ul class="social-nav model-3d-0 footer-social social">
                            <li>
                                <a href="#" class="facebook">
                                    <div class="front">
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    </div>

                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <div class="front">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </div>

                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram">
                                    <div class="front">
                                        <i class="fab fa-instagram" aria-hidden="true"></i>
                                    </div>

                                </a>
                            </li>
                        </ul>

                    </div>

                </div>
                <div class="col-md-3 photo-grid text-center">
                    <div class="dodecagon t2">
                        <div class="dodecagon-in t2">
                            <div class="dodecagon-bg t2">

                            </div>
                        </div>
                    </div>
                    <h3>Randeep Hudda</h3>
                    <p>Volunteer</p>
                    <div class="team_icons">
                        <ul class="social-nav model-3d-0 footer-social social">
                            <li>
                                <a href="#" class="facebook">
                                    <div class="front">
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    </div>

                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <div class="front">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </div>

                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram">
                                    <div class="front">
                                        <i class="fab fa-instagram" aria-hidden="true"></i>
                                    </div>

                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
                <div class="col-md-3 photo-grid text-center">
                    <div class="dodecagon t3">
                        <div class="dodecagon-in t3">
                            <div class="dodecagon-bg t3">

                            </div>
                        </div>
                    </div>
                    <h3>Gracy Singh</h3>
                    <p>Volunteer</p>
                    <div class="team_icons">
                        <ul class="social-nav model-3d-0 footer-social social">
                            <li>
                                <a href="#" class="facebook">
                                    <div class="front">
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    </div>

                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <div class="front">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </div>

                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram">
                                    <div class="front">
                                        <i class="fab fa-instagram" aria-hidden="true"></i>
                                    </div>

                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
                <div class="col-md-3 photo-grid text-center">
                    <div class="dodecagon t4">
                        <div class="dodecagon-in t4">
                            <div class="dodecagon-bg t4">

                            </div>
                        </div>
                    </div>
                    <h3>Aryan Malhotra</h3>
                    <p>Volunteer</p>
                    <div class="team_icons">
                        <ul class="social-nav model-3d-0 footer-social social">
                            <li>
                                <a href="#" class="facebook">
                                    <div class="front">
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    </div>

                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <div class="front">
                                        <i class="fab fa-twitter" aria-hidden="true"></i>
                                    </div>

                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram">
                                    <div class="front">
                                        <i class="fab fa-instagram" aria-hidden="true"></i>
                                    </div>

                                </a>
                            </li>

                        </ul>

                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>
<!--//team-->

<!--/gallery-->
<div class="banner_bottom proj" id="gallery">
    <div class="wrap_view">
        <h3 class="tittle_w3_agileinfo">Gallery</h3>
        <div class="inner_sec_info_w3layouts">
            <ul class="portfolio-categ filter">
                <li class="port-filter all active">
                    <a href="#">All</a>
                </li>
                <li class="cat-item-1">
                    <a href="#" title="Category 1">Charity</a>
                </li>
                <li class="cat-item-2">
                    <a href="#" title="Category 2">NGOs</a>
                </li>
                <li class="cat-item-3">
                    <a href="#" title="Category 3">Feeding</a>
                </li>
                <li class="cat-item-4">
                    <a href="#" title="Category 4">Children</a>
                </li>
            </ul>


            <ul class="portfolio-area">

                <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
                    <div>
                        <span class="image-block img-hover">
                            <a class="image-zoom" href="~/Assets/images/g1.jpg" rel="prettyPhoto[gallery]">

                                <img src="~/Assets/images/g1.jpg" class="img-responsive" alt="Relief">

                            </a>
                        </span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-1" data-type="cat-item-2">
                    <div>
                        <span class="image-block">
                            <a class="image-zoom" href="~/Assets/images/g2.jpg" rel="prettyPhoto[gallery]">

                                <img src="~/Assets/images/g2.jpg" class="img-responsive" alt="Relief">

                            </a>
                        </span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-2" data-type="cat-item-1">
                    <div>
                        <span class="image-block">
                            <a class="image-zoom" href="~/Assets/images/g3.jpg" rel="prettyPhoto[gallery]">

                                <img src="~/Assets/images/g3.jpg" class="img-responsive" alt="Relief">

                            </a>
                        </span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-3" data-type="cat-item-4">
                    <div>
                        <span class="image-block">
                            <a class="image-zoom" href="~/Assets/images/g4.jpg" rel="prettyPhoto[gallery]">

                                <img src="~/Assets/images/g4.jpg" class="img-responsive" alt="Relief">

                            </a>
                        </span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-4" data-type="cat-item-3">
                    <div>
                        <span class="image-block">
                            <a class="image-zoom" href="~/Assets/images/g5.jpg">

                                <img src="~/Assets/images/g5.jpg" class="img-responsive" alt="Relief">

                            </a>
                        </span>
                    </div>
                </li>


                <li class="portfolio-item2" data-id="id-5" data-type="cat-item-2">
                    <div>
                        <span class="image-block">
                            <a class="image-zoom" href="~/Assets/images/g6.jpg" rel="prettyPhoto[gallery]">

                                <img src="~/Assets/images/g6.jpg" class="img-responsive" alt="Relief">

                            </a>
                        </span>
                    </div>
                </li>
            </ul>
            <!--end portfolio-area -->
        </div>
    </div>
</div>
<!--//gallery-->

<script type="text/javascript">

    $(document).ready(function () {
        $('#adminLogin').click(function () {
            $.ajax({
                type: "POST",
                url: "/Home/SignIn",
                data: {
                    email: $("#adminEmailAddress").val(),
                    password: $("#adminPassword").val(),
                },
                success: function (result) {
                    console.log(result.Result);
                    if (result.Result == "Success") {
                       
                        location.href = '/Account/Home/';

                    }
                    else {

                        $('#lblmessage').text(result.Message);

                    }
                    
                },
                error: function (result) {
                    alert('error');
                }
            });

        })
        
    })

</script>